package ${controllerPackage};

import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.validation.annotation.Validated;
import org.springframework.web.bind.annotation.*;
import xyz.chaobei.common.api.CommonResult;
import ${entityImport};
import ${saveAOImport};
import ${pageAOImport};
import ${serviceImport};

import javax.validation.Valid;
import javax.validation.constraints.NotNull;
import java.util.List;
/**
 * ${config.desc}请求控制层
 * @author ${config.author}
 * @Date ${Date}
 */
@RestController
@RequestMapping("/${data.requestName}")
@Validated
public class ${controller} {

    @Autowired
    private ${service} ${data.requestName}Service;


    /**
     * 功能描述: 查询所有${config.desc}
     * @Param: []
     * @Return: xyz.chaobei.mall.common.api.CommonResult
     * @Author: ${config.author}
     * @Date: ${Date}
     */
    @GetMapping("/")
    public CommonResult getAll() {

        List<${entity}> allList = ${data.requestName}Service.findAll();
        return CommonResult.success(allList);
    }

    /**
     * 功能描述: 分页请求${config.desc}
     * @Param: [pageAO] 分页参数
     * @Return: xyz.chaobei.mall.common.api.CommonResult
     * @Author: ${config.author}
     * @Date: ${Date}
     */
    @PostMapping("/page")
    public CommonResult paging(@RequestBody ${pageAO} pageAO) {

        Page<${entity}> allList = ${data.requestName}Service.findPage(pageAO);
        return CommonResult.success(allList);
    }

    /**
    * 功能描述: 保存一个${config.desc}
    * @Param: [params] 入参实例信息
    * @Return: xyz.chaobei.mall.common.api.CommonResult
    * @Author: ${config.author}
    * @Date: ${Date}
    */
    @PostMapping("/")
    public CommonResult save(@RequestBody @Valid ${saveAO} params) {

        boolean isSave = ${data.requestName}Service.save(params);
        return CommonResult.result(isSave);
    }


    /**
    * 功能描述: 通过ID和params修改${config.desc}
    * @Param: [id, params] id:主键 params 入参ao
    * @Return: xyz.chaobei.mall.common.api.CommonResult
    * @Author: ${config.author}
    * @Date: ${Date}
    */
    @PutMapping("/{${data.primaryName}")
    public CommonResult update(@PathVariable("${data.primaryName}") ${data.primaryType} id, @Valid @RequestBody ${saveAO} params) {

        boolean isUpdate = ${data.requestName}Service.updateById(params,id);
        return CommonResult.result(isUpdate);
    }

    /**
    * 功能描述: 使用主键删除
    * @Param: [id] 需要删除的ID
    * @Return: xyz.chaobei.mall.common.api.CommonResult
    * @Author: ${config.author}
    * @Date: ${Date}
    */
    @DeleteMapping("/{${data.primaryName}")
    public CommonResult delete(@Valid @NotNull @PathVariable("${data.primaryName}") ${data.primaryType} id) {

        boolean isDelete = ${data.requestName}Service.deleteById(id);
        return CommonResult.result(isDelete);
    }

}
