package ${entityPackage};

import com.baomidou.mybatisplus.annotation.IdType;
import com.baomidou.mybatisplus.annotation.TableField;
import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableName;
import lombok.Data;

import java.io.Serializable;
import java.util.Date;
import java.lang.Integer;

/**
 * ${config.desc}实体类
 * @author ${config.author}
 * @Date ${Date}
 */
@Data
@TableName("${config.table}")
public class ${entity} implements Serializable {

    private static final long serialVersionUID = 1L;

#foreach ($column in $data.columns)

    /**
     * $column.columnComment
     */
    #if($column.columnKey == "PRI")
@TableId(value = "`$column.column`",type = IdType.AUTO)
    #else
@TableField("`$column.column`")
    #end
private $column.javaType $column.columnName;
#end

}
