package ${saveAOPackage};

import lombok.Data;
import lombok.Getter;
import lombok.Setter;

import java.io.Serializable;
import java.util.Date;
import java.lang.Integer;
import javax.validation.constraints.*;

/**
 * ${config.desc} AO业务对象
 * @author ${config.author}
 * @Date ${Date}
 */
@Getter
@Setter
public class ${saveAO} {

#foreach ($column in $data.columns)
    #if($column.insert)

    /**
     * $column.columnComment
     */
    #if($column.insertType)
$column.insertType
    #end
private $column.javaType $column.columnName;
    #end
#end

}
