package ${config.pack}.${package};

import com.ly.sg_pmp.bean.vo.BaseRO;
import lombok.Data;

/**
 * ${config.desc}实体类
 * @author ${config.author}
 * @Date ${Date}
 */
@Data
public class ${Search} extends BaseRO {


}
