package ${serviceImplPackage};

import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.baomidou.mybatisplus.extension.toolkit.SqlHelper;
import org.springframework.beans.BeanUtils;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

import ${mapperImport};
import ${entityImport};
import ${pageAOImport};
import ${saveAOImport};
import ${serviceImport};

import java.util.List;

/**
 * ${config.desc} serviceImpl
 * @author ${config.author}
 * @Date ${Date}
 */
@Service
public class ${serviceImpl} implements ${service} {

    @Autowired
    private ${mapper} ${data.requestName}Mapper;

    @Override
    public List<${entity}> findAll() {
        return ${data.requestName}Mapper.selectList(null);
    }

    @Override
    public Page<${entity}> findPage(${pageAO} pageAO) {

        Page page = new Page(pageAO.getCurrent(),pageAO.getSize());
        ${data.requestName}Mapper.selectPage(page,null);

        return page;
    }

    @Override
    public boolean save(${saveAO} params) {

        ${entity} model = new ${entity}();
        BeanUtils.copyProperties(params,model);
        /**
         * 你的逻辑写在这里
         */
        int num = ${data.requestName}Mapper.insert(model);

        return SqlHelper.retBool(num);
    }

    @Override
    public boolean updateById(${saveAO} params, ${data.primaryType} id) {

        ${entity} model = new ${entity}();
        BeanUtils.copyProperties(params,model);

        /**
         * 你的逻辑写在这里
         */
        model.setId(id);
        int num = ${data.requestName}Mapper.updateById(model);

        return SqlHelper.retBool(num);
    }

    @Override
    public boolean deleteById(${data.primaryType} id) {

        /**
         * 你的逻辑写在这里
         */
        int num = ${data.requestName}Mapper.deleteById(id);
        return SqlHelper.retBool(num);
    }

}
