package ${servicePackage};

import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import ${entityImport};
import ${saveAOImport};
import ${pageAOImport};

import java.util.List;

/**
 * ${config.desc} service
 * @author ${config.author}
 * @Date ${Date}
 */
public interface ${service} {

    /**
     * @Author MRC
     * @Description 查询所有
     * @Date 16:56 2020/9/24
     * @Param []
     * @return java.util.List<xyz.chaobei.mall.model.UmsRoleModel>
     **/
    List<${entity}> findAll();

    /**
     * 功能描述: 分页
     * @Param: [pageAO]
     * @Return: com.baomidou.mybatisplus.extension.plugins.pagination.Page<xyz.chaobei.mall.model.UmsRoleModel>
     * @Author: MRC
     * @Date: 2020/9/24 23:53
     */
    Page<${entity}> findPage(${pageAO} pageAO);

    /**
     * 功能描述: 保存一个对象
     * @Param: [params] 封装的AO 对象
     * @Return: boolean
     * @Author: MRC
     * @Date: 2020/9/24 23:10
     */
    boolean save(${saveAO} params);

    /**
     * 功能描述: 通过ID 修改一个对象
     * @Param: [params, id]
     * @Return: boolean
     * @Author: MRC
     * @Date: 2020/9/24 23:35
     */
    boolean updateById(${saveAO} params, ${data.primaryType} id);

    /**
     * 功能描述: 逻辑删除一个
     * @Param: [id]
     * @Return: boolean
     * @Author: MRC
     * @Date: 2020/9/24 23:36
     */
    boolean deleteById(${data.primaryType} id);
}
